body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #fff4cc);
    text-align: center;
}

h1 {
    color: #e6b800;
    margin-top: 50px;
}

/* Layout */
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Box */
.section {
    background: white;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Title */
.title {
    font-size: 26px;
    font-weight: bold;
    color: #d4a017;
    margin-bottom: 15px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 12px;
}

/* Card */
.card {
    background: #fff8dc;
    border-radius: 15px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.card:hover {
    background: #ffe58a;
    transform: scale(1.08);
}

.card:active {
    transform: scale(0.95);
    background: #ffd54f;
}
.main-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #d4a017;
    margin-bottom: 20px;
}
.main-title {
    text-shadow: 0 3px 10px rgba(212,160,23,0.3);
}
/* Donate section giống card */
.donate {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: white;
    border: 2px solid #ffd966;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.donate h2 {
    color: #e6b800;
}

.amounts {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
    flex-wrap: wrap;
}

.amount {
    padding: 10px 20px;
    border: 2px solid #ffd966;
    border-radius: 15px;
    cursor: pointer;
    background: white;
    transition: 0.2s;
    font-size: 18px;
}

.amount:hover {
    transform: scale(1.05);
    background: #fff8dc;
}

.amount.active {
    background: #ffd966;
}

.custom-box {
    margin-top: 10px;
    padding: 15px;
    border: 2px dashed #ffd966;
    border-radius: 15px;
    font-size: 16px;
}

input {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 10px;
}

.donate button {
    background: #ffd966;
    border: none;
    padding: 12px 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
}

.donate button:hover {
    background: #ffcc00;
}

.qr {
    margin-top: 15px;
    display: none;
}

.qr img {
    width: 200px;
    border-radius: 10px;
}
#map svg {
  width: 100%;
  max-width: 800px;
}